PORT=<0000>
MONGO_DB_URI=mongodb+srv://<username>:<password>@<clustername>.<mongodbserver>.mongodb.net/<dbname>retryWrites=true&w=majority
VOICEX_NS=voicex_dev
SECRET_KEY=<YOUR_SECRET_KEY>
TOKEN_EXPIRES_IN=8h